rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
      return request.auth.uid != null;
    }

    function isUserAuth(userId) {
      return request.auth.uid == userId
    }

    function require(param){
      return request.resource.data[param] != null
    }

    function isNotEmpty(param){
      return require(param)
              && request.resource.data[param] is string
              && request.resource.data[param].trim().size() != 0;
    }

    match /users/{userId} {
      allow get, read, create, update: if isAuth();
      allow create: if isUserAuth(userId)
                    && isNotEmpty("name")
                    && isNotEmpty("iconImageUrl");

      match /games/{id} {
        allow get, read, create, update: if isAuth();
      }

      match /games/{id}/game/{userId} {
        allow get, read, create, update: if isAuth();
      }
    }

    match /rooms/{roomId} {
      function validStatus() {
        return request.resource.data.status.matches("^(NOT_STARTED|FIRST_HALF_STARTED|FIRST_HALF_FINISHED|SECOND_HALF_STARTED|SECOND_HALF_FINISHED)$")
      }
      allow get, read, delete: if isAuth();
      allow create, update: if isAuth() && validStatus();

      match /players/{playerId} {
        allow get, read, create, update, delete: if isAuth();
      }
    }
  }
}